/*******************************************************************
** Reset CSS
************/
body, h1, h2,
p, div, ul, ol, li,
table, tr, th, td,
form, fieldset, label, input, textarea, select,
img {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-size: 100%;
    font-weight: normal;
}
/***********************************************************/



/***********************************************************
** Default and general settings
*******************************/
* {
    font-family: "Lucida Grande", arial, sans-serif;
}

body {
    background-color: white;
    color: black;
    font-size: 87.5%; /* 14px */
}

img {
    border: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.714em; /* 1 / font-size */
}

h2 {
    font-weight: bold;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #144578;
    text-decoration: none;
    padding-bottom: 0.1em;
    border-bottom: 0.05em inset #144578;
}

a:hover {
    border-bottom: 0.05em solid #144578;
}

a.noUnderline, a.noUnderline:hover {
    border: 0;
}

a img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

#container {
    /*
      The width is content.width        45em
                 + content.margin       2em (2 * 1em)
                 + properties.width     16em
                 + properties.margin    0
                 + a tiny bit of space  0.4em
    */
    width: 63.4em;
    margin: 0 auto;
}

#content {
    float: left;
    width: 45em;
    margin: 0 1em;
}
/***********************************************************/



/***********************************************************
** Header & footer
******************/
#header {
    font-size: 1.6em;
    background-color: #144578;
    color: white;
    padding: 0.625em 0.625em; /* 1 / font-size */
    border-bottom: 0.1em solid #CCCCCC;
    margin-bottom: 0.5em;
}

#header a {
    color: white;
    border: 0;
}

#header a:hover {
    border-bottom: 0.05em solid white;
}

#footer {
    clear: both;
    margin-top: 1em; /* 1 / font-size */
    padding: 1em; /* font-size */
    font-size: 1em;
    border-top: 0.05em solid #CCCCCC;
    background-color: white;
    color: black;
}

#footerActions {
    width: 50em;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

#footerActions li {
    display: inline;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
}

#poweredBy {
    font-size: 0.8em;
    float: right;
}
/***********************************************************/


/***********************************************************
** Meta column
**************/
#meta {
    float: left;
    width: 16em;
}

#properties {
    border: 0.1em solid #CCCCCC;
    font-size: 0.8em;
    background-color: #EEEEEE;
}

#properties #issueStatus {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 0.05em solid #CCCCCC;
    padding: 0.5em;
    background-color: #CCCCCC;
    color: black;
}

.issueUnassigned, .deadlineInThePast {
    font-weight: bold;
    color: #CC0000;
}

#properties abbr {
    border-bottom: 1px dotted #CCCCCC;
    cursor: help;
}

#properties h3 {
    font-weight: bold;
    padding-bottom: 0.1em;
    margin: 0.4em 1em 0.3em 1em;
    border-bottom: 1px solid #CCCCCC;
}

#properties ul {
    list-style-type: none
}

#properties ul.last {
    margin-bottom: 0.4em;
}

#properties ul li {
    padding: 0 1em;
    padding: 0.2em 0 0.2em 1em;
}

#issueViewActions {
    margin-top: 0.5em;
    list-style-type: none;
    text-align: right;
}
/***********************************************************/


/***********************************************************
** Error and status messages
****************************/
div.successMessage, div.errorMessage, div.formError {
    border-width: 1px 1px 1px 0.5em;
    border-style: solid;
    font-weight: bold;
    color: black;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

div.successMessage {
    border-color: #007D39;
    background-color: #F4FFFA;
}

div.errorMessage, div.formError {
    color: #CC0000;
    border-color: #CC0000;
    background-color: #FFEEEE;
}
/***********************************************************/


/***********************************************************
** Forms
********/
#addIssueForm {
    width: 45em;
    margin: 0 auto;
}

#addProjectForm {
    width: 36em;
    margin: 0 auto;
}

#loginForm {
    width: 17em;
    margin: 0 auto;
}

form.ninja input {
    /* A ninja form may be beside you, you would not see it. Beware of the
       ninja forms! */
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #CCCCCC;
    padding: 1em;
    margin-bottom: 1em;
}

div.floatableFormPanel {
    width: 45%;
    float: left;
    border-right: 1px solid #CCCCCC;
    padding-right: 1em;
    margin-right: 1em;
}

div.lastFloatableFormPanel {
    border: 0;
}

div.formRow {
    padding-bottom: 0.5em;
}

div.formRow label {
    font-weight: bold;
    display: block;
}

input, textarea, select {
    font-size: 1em;
    padding: 0.2em;
    margin-top: 0.3em;
}

textarea {
    width: 40em; /* FIXME: why 40? */
}

label.required img {
    vertical-align: middle;
}

div.formDescription {
    font-size: 0.8em;
}

div.formError {
    font-size: 0.8em;
    margin-top: 0.3em;
    /* FIXME */
}

#showHideExtraFieldset {
    font-size: 0.8em;
}
/***********************************************************/


/***********************************************************
** Tables and listings
**********************/
#projectListing {
    width: 30em;
    margin: 0 auto;
}

#adminListing {
    width: 15em;
    margin: 0 auto;
}

table.listing {
    border-collapse: collapse;
}

table.listing th {
    border-bottom: 0.1em solid black;
    padding: 0.2em;
}

table.listing tr.odd {
    background-color: #EEEEEE;
}

table.listing td {
    border-bottom: 0.1em inset #CCCCCC;
    padding: 0.5em;
    margin: 0;
}

table.listing td.centered {
    text-align: center;
}

table.listing a {
    border: 0;
}

table.listing tfoot td {
    border: 0;
}
/***********************************************************/


/***********************************************************
** Issue view
*************/
#changes {
    list-style-type: none;
}

.change, #previewPane {
    padding: 0;
    margin-bottom: 1em;
    word-wrap: break-word; /* CSS 3 only */
}

#previewPane {
    border: 0.05em solid #CCCCCC;
    background-color: #EEEEEE;
    width: 38em;
    padding: 1em;
}

.changeHeader, .changeText, .changeDetails {
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 0 0.05em 0.05em 0.05em; /* no border-top... */
}

.changeHeader, .changeIssueText {
    padding: 1em;
    margin: 0;
    border-width: 0.05em;  /* ...with a border-top for this one */
}

.changeText {
    padding: 1em 1em 0 1em;
    max-width: inherit;
}

.changeDetails {
    padding: 1em;
    list-style-type: none;
    color: #555555;
}

.permalink, .scrollToLastComment {
    float: right;
    border: 0;
}

.permalink:hover, .scrollToLastComment:hover {
    border: 0;
}

#previewButton {
    /* FIXME */
    float: right;
}
/***********************************************************/



/***********************************************************
** Project view
***************/
#actions {
    text-align: center;
}

#actions li {
    display: inline;
    padding: 5em;
}

#actions li:first-child {
    display: inline;
}
/***********************************************************/


/***********************************************************
** Search widget
****************/
#search {
    /* FIXME */
}
/***********************************************************/