* {
    /* FIXME: review the font stack */
    font-family: "Lucida Grande", arial, sans-serif;
}

body {
    background-color: white;
    color: black;
    font-size: 87.5%; /* 14px */
}

h1, h2 {
    font-size: 100%;
    font-weight: normal;
}

p, table {
    line-height: 1.4em;
    margin-bottom: 1em;
}

img {
    border: 0;
}

a {
    color: black;
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.expanded {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}