* {
    /* FIXME: review the font stack */
    font-family: "Lucida Grande", arial, sans-serif;
}

body {
    background-color: white;
    color: black;
    font-size: 87.5%; /* 14px */
}

img {
    border: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.714em; /* 1 / font-size */
}

h2 {
    font-weight: bold;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0.5em;
}

p, table {
    margin-bottom: 1em;
}

a {
    color: black;
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.expanded {
    width: 100%;
}