form.ninja input {
    /* A ninja form may be beside you, you would not see it. Beware of the
       ninja forms! */
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

input, textarea, select {
    font-size: 1em;
    padding: 0.2em;
}

textarea {
    width: 40em; /* FIXME: why 40? */
}

.form-row {
    margin-bottom: 1em;

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5em;
    }

    .required img {
        vertical-align: middle;
    }
}

.form-error {
    @extend .notification-error;
}

.form-description {
    font-size: 0.8em;
}

.form-error { /* FIXME */
    font-size: 0.8em;
    margin-top: 0.3em;
}


.floatable-form-panel {
    width: 45%;
    float: left;
    border-right: 1px solid #CCCCCC;
    padding-right: 1em;
    margin-right: 1em;
}

.last-floatable-form-panel {
    border: 0;
}

.show-hide-extra-fieldset {
    font-size: 0.8em;
}

#preview-pane {
    border: 0.05em solid #CCCCCC;
    background-color: #EEEEEE;
    width: 38em;
    padding: 1em;
}

.preview-button {
    /* FIXME */
    float: right;
}

.buttons .FIXME-disabled-cancel {
    margin-left: 1em;
    border-left: 1px solid #ccc;
    padding-left: 1em;
    color: black;
    text-decoration: none;
}

/*
** Taken from http://particletree.com/features/rediscovering-the-button-element/
** Available under CC-BY 2.5
*/
.buttons a, .buttons button{
    display:block;
    float: left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #ee;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button.positive, .buttons a.positive{
    border:1px solid #529214;
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
.buttons a.negative, button.negative{
    color:#d12f19;
    border:1px solid #d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}