form.ninja input {
    /* A ninja form may be beside you, you would not see it. Beware of the
       ninja forms! */
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

input, textarea, select {
    font-size: 1em;
    padding: 0.2em;
}

input[type=checkbox] {
    padding: 0;
    padding: 0.1em;
}

textarea {
    width: 95%;
}

.form-row {
    margin-bottom: 1em;

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5em;
    }

    .required img {
        vertical-align: middle;
    }
}

.form-description {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.form-row-error {
    @extend .notification-error;
}

.form-error {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.floatable-form-panel { /* FIXME: review */
    width: 45%;
    float: left;
    border-right: 1px solid #ccc;
    padding-right: 1em;
    margin-right: 1em;
}

.last-floatable-form-panel { /* FIXME: review */
    border: 0;
}

.show-hide-extra-fieldset {
    font-size: 0.8em;
}

#extra-fieldset {
    font-size: 0.8em;

    label {
        display: inline-block;
        width: 14em;
        text-align: right;
        margin-right: 1em;
    }
}

#preview-pane {
    border: 0.05em solid #ccc;
    background-color: #eee;
    width: 90%;
    padding: 1em;
}

.preview-button {
    float: right;
}

.buttons {

    button {
        padding: 0.5em;
        border: 1px solid #ccc;
        background-color: #eee;
        font-size: 1em;
        font-weight: bold;
    }

    button:hover {
        border: 1px solid #777;
    }

    .positive {
        border: 1px solid #aaa;
        background-color: #c6d880;
    }

    .negative {
        background-color: #d12f19;
        color: white;
    }

    .cancel {
        margin-left: 1em;
        border-left: 1px solid #ccc;
        padding-left: 1em;
        color: black;
        text-decoration: none;
        font-size: 0.8em;
        vertical-align: center;
    }

    .cancel:hover {
        text-decoration: underline;
    }
}

/* date picker widget icon */
.dp-choose-date {
    width: 16px;
    height: 16px;
    padding: 0;
    margin-left: 5px;
    vertical-align: middle;
    text-indent: -2000px;
    display: inline-block;
    overflow: hidden;
    background: url('../img/calendar.png') no-repeat; 
}