body, h1, h2,
p, div, ul, ol, li,
table, tr, th, td,
form, fieldset, label, input, textarea, select,
img {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-size: 100%;
    font-weight: normal;
}