.listing {
    border-collapse:collapse;

    th {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #eee;
        padding: 0.2em 1em;
        text-align: center;
        font-weight: bold;
    }

    th:last-child {
        border-right: 0;
    }

    tr.odd {
        background-color: #f7f7f7;
    }

    td {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 0.5em;
    }

    tfoot td {
        border:0;
    }

    td:last-child {
        border-right: 0;
    }
}